{% extends 'base.html' %}
{% block pagetitle %}Viewing Submission{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Authenticated menu -->
{% else %}
    <h3>Login</h3>
    <form action="/login/" method="post" accept-charset="utf-8">
        <label for="username">Username</label><input type="text" name="username" value="" id="username" />
        <label for="password">Password</label><input type="password" name="password" value="" id="password" />
        <input type="hidden" name="next" value="{{ NEXT }}" />
        <p><input type="submit" value="Login"></p>
    </form>
{% endif %}}
{% endblock %}