{% extends 'base.html' %}
{% block pagetitle %}Create Post{% endblock %}
{% block content %}
<form enctype="multipart/form-data" method='post' action=''>
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="fieldWrapper">
        {{ form.title.errors }}
        <label for="id_subject">Submission Title:</label>
        {{ form.title }}
    </div>
	<div class="fieldWrapper">
        {{ form.image.errors }}
        <label for="id_subject">Image (optional)</label>
        {{ form.image }}
    </div>
    <div class="fieldWrapper">
        {{ form.tags.errors }}
        <label for="id_message">Tags:</label>
        {{ form.tags }}
    </div>
    <p><input type="submit" value="Save Post" /></p>
</form>
{% endblock %}
