{% extends 'base.html' %}
{% block pagetitle %}Frontpage{% endblock %}
{% if list %}
<h2 class='bar'><span>Featured Articles</span></h2>
<div class='submission-list'>
	{% for l in list %}
	<div class='article'>
		<div class='article-image'>
			<a href='/submissions/view/{l.id}'><img src='{l.image}' /></a>
		</div>
		<div class='article-preview'>
			<div class='article-title'><a href='/submissions/view/{l.id}'>{l.title}</a></div>
		</div>
	</div>
	{% endfor %}
</div>
{% else %}
<div class='submission-empty'>
	No submissions available at this time.
</div>
{% endif %}
