#container, .middle {
	width: 960px;
	margin: 0 auto;
}

#header{
	background:#224057;
	height: 100px;
}

.logo{
	margin-top: 16px;
}

#nav{
	background: url('images/navbg.png') repeat-x;
	height: 58px;
	padding-top: 8px;
}
	#nav ul li{
		list-style-type: none;
		float: left;
		margin-right: 15px;
	}
	#nav ul li a{
		color: white;
		font-size: 13px;
		font-weight: bold;
		text-shadow: 1px 1px 1px #bbb;
		padding: 3px 5px;
	}