#container, .middle {
	width: 960px;
	margin: 0 auto;
}

#header{
	background:#224057;
	height: 100px;
}

.logo{
	margin-top: 16px;
	float: left;
}

#nav{
	background: url('images/navbg.png') repeat-x;
	height: 38px;
	padding-top: 20px;
}
	#nav ul li{
		list-style-type: none;
		float: left;
		margin-right: 10px;
	}
	#nav ul li a{
		color: white;
		font-size: 14px;
		font-weight: bold;
		text-shadow: 1px 1px 1px #333;
		padding: 8px 10px;
		border-radius: 5px;
	}
	#nav ul li a:hover{
		background: #334;
	}
	#nav ul li a.current{
		background: #223;
	}